<div class="center jumbotron">

	<form method="GET" action="/stocks/index">
		<input type="text" name="search" class="form-control" placeholder="Enter Company Name">
	</form>

	<br>

	<div class="title_info">
		<p class="lead"><%= "#{@company}" %></p>

	</div>
	
	<% @results.each do |result| %>

	<div class="result">

		<% if result.css('.priceDetailDate').first.present? && result.css('.priceDetailDate').last.present? && result.css('.valueContentBase').last.present? %>

		<p><%= result.css('.priceDetailDate').first.text %></p>
		<p>Last update - <%= result.css('.priceDetailDate').last.text %></p>
		<p>Current: $<%= result.css('.valueContentBase').last.text %></p>
		<% else %>

		<%= "Sorry Ol' Chap: Data Unavailable" %>

		<% end %>

		
	</div>

	<% end %>

	<!-- <small class="text-muted">SOURCE: REUTERS</small> -->


<hr class="split">


	


<footer class="footer">
<!--   <small>
  	<a href="http://www.kreiger.co/">Kreiger.co site</a>
  </small> -->
  <a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
  <nav>
    <ul>
      <small><li><a href="http://www.reuters.com">Source - Reuters</a></li></small>
      <!-- <li><a href="http://www.kreiger.co/">Kreiger.co site</a></li> -->
    </ul>
  </nav>
</footer>
</div>