<div class="center jumbotron">

	<form method="GET" action="/stocks/index">
		<input type="text" name="search" class="form-control" placeholder="Enter Company Name">
	</form>

	<br>

	<div class="title_info">
		<p class="lead"><%= "#{@company}" %></p>

	</div>
	
	<% @results.each do |result| %>

	<div class="result">

		<% if result.css('.priceDetailDate').first.present? && result.css('.priceDetailDate').last.present? && result.css('.valueContentBase').last.present? %>

		
		<h3><%= result.css('.priceDetailDate').first.text[10..20] %></h3>
		<h3>Last update - <%= result.css('.priceDetailDate').last.text %></h3>
		<h3>Current: $<%= result.css('.valueContentBase').last.text %></h3>
		<% else %>

		<%= "Sorry Ol' Chap: Data Unavailable" %>

		<% end %>

		
	</div>

	<% end %>

	<!-- <small class="text-muted">SOURCE: REUTERS</small> -->


<hr class="split">


	


<footer class="footer">
<!--   <small>
  	<a href="http://www.kreiger.co/">Kreiger.co site</a>
  </small> -->
  <nav>
    <ul>
      <small><li><a href="http://www.reuters.com">Source - Reuters</a></li></small>
      <!-- <li><a href="http://www.kreiger.co/">Kreiger.co site</a></li> -->
    </ul>
  </nav>
</footer>
</div>