<div class="center jumbotron">

	<form method="GET" action="/stocks/index">
		<input type="text" name="search" class="form-control" placeholder="Enter Company Name">
	</form>

	<br>

	<div class="title_info">
		<p class="lead"><%= "#{@company}" %></p>

	</div>

	<% @results.each do |result| %>

	<div class="result">

		<p><%= result.css('.priceDetailDate').first.text %></p>
		<p>Last update - <%= result.css('.priceDetailDate').last.text %></p>
		<p>Current: $<%= result.css('.valueContentBase').last.text %></p>
		
	</div>

	<% end %>

	<small class="text-muted">SOURCE: REUTERS</small>


<hr class="split">

		<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Resume</h4>
	      </div>
	      <div class="modal-body">

	      	<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="thumbnail">
      <img alt="100%x200 Twelve" src="http://www.thepiano.co/assets/product-twelve-4fba090e3cf2193f90be39f80b18d77c.png" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
      <div class="caption">
        <!-- <h3>Thumbnail label</h3> -->
       
        <p><a href="http://www.thepiano.co" class="btn btn-primary" role="button">Demo</a></p>
      </div>
    </div>
  </div>
	</div>
				
        
          <%= image_tag('kreiger_daniel_resume.jpg', id: 'resume', alt: 'Daniel Kreiger Resume') %>

	 		</div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        
	      </div>
	    </div>
	  </div>
	</div>

	


<footer class="footer">
  <small>
  	<a href="http://www.kreiger.co/">Kreiger.co site</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Music",  "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <!-- <li><a href="http://www.kreiger.co/">Kreiger.co site</a></li> -->
    </ul>
  </nav>
</footer>
</div>